/* 
Use # para puxar ID
Use . para puxar class
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.576);
    max-width: 700px;
    width: 90%;
    text-align: center;
    position: relative;
}

#fotoPerfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border: 3px solid #2d3436;
}

#nome {
    color: #2d3436;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    line-height: 1.2;
    font-family: Arial;
}

#profissao {
    color: #0e15d6b3;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    font-family: Arial;
}

#email {
    color: #57606f;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    font-family: Arial;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d3436;
    transition: all 0.3s ease;
    font-family: Arial;
}

button a:hover {
    background: #0e15d6b3;
    color: white;
    transform: translateY(-3px);
}

#menuNavegacao {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#menuNavegacao button a {
    padding: 8px 60px;
    border-radius: 5px;
    background: #f8f9fa;
    color: #57606f;
    font-size: 0.9rem;
    text-decoration: none;
}

#menuNavegacao button a:hover {
    background: #0e15d6b3;
    color: white;
}

/* Footer de copyright */
.card::after {
    content: "© 2025";
    display: block;
    color: #a4b0be;
    font-size: 0.9rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #f1f2f6;
}

@media (max-width: 480px) {
    .card {
        padding: 1.5rem;
    }
    
    #nome {
        font-size: 1.7rem;
    }
    
    #menuNavegacao {
        flex-direction: column;
    }
}


